POSIX-pselect-*
.*
*~
!.gitignore
!.shipit
!.dim.pl
*.o
*.obj
*.bs
*.def
Makefile*
!Makefile.PL
*blib
META.yml
MYMETA.*
inc/
*.out
*.bak
*.old
ppport.h
xshelper.h
nytprof*
cover_db*
*.gcda
*.gcno
*.gcov
*.stackdump
src/*.c
